*,
*::before,
*::after {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-sans: sans-serif;
  --ff-serif: serif;

  --fs-h1: clamp(2rem, 10vw, 7rem);
  --fs-h2: 1.8rem;
  --fs-h3: 1.05rem;
  --fs-p: 1rem;
  --fs-small: 0.85rem;
  --fs-scroll: 0.7rem;

  --lh-p: 1.5;
  --lh-h: 1.3;
  --br: 5px;

  --c-bg-black: black;
  --c-p: #555;
  --c-scroll: grey;
}

p {
  line-height: var(--lh-p);
  max-width: 35rem;
  font-family: var(--ff-sans);
  color: var(--c-p);
}

body {
  position: relative;
  background-color: #f5f3ee;
}

body::before {
  content: "";
  position: fixed;
  inset: -50%;
  width: 200%;
  height: 200%;
  background-image: linear-gradient(#f4efe2 1.5px, transparent 1.5px),
    linear-gradient(90deg, #f4efe2 1.5px, transparent 1.5px);
  background-size: 80px 80px;
  transform: rotate(20deg);
  z-index: -1;
}

span,
li {
  font-family: var(--ff-sans);
}

h1,
h2,
h3 {
  font-family: var(--ff-sans-serif);
  font-weight: 500;
}

.h1-font {
  font-size: var(--fs-h1);
}

.h2-font {
  font-size: var(--fs-h2);
}

.h3-font {
  font-size: var(--fs-h3);
}

.btn {
  text-decoration: none;
  color: black;
  background: #d4c193;
  border: 1px solid black;
  font-family: var(--ff-sans-serif);
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: var(--br);
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
